body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #333;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    text-align: left;
    display: flex;
}


h1 {
    color: #007bff;
    margin-bottom: 25px;
}
.card{
    width: 150px;
    background-color: aqua;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    

}







